<span class="mat-headline">
  NEW MERCHANT AFFILIATION EVALUATION FORM
</span>
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">

  </formly-form>

</form>
<div *ngIf="!displayMode" fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="3px">

  <button (click)="executeFunction();" color="primary" mat-raised-button>{{subTitle}}</button>

  <button (click)="cancel();" color="accent" mat-raised-button>Cancel</button>
</div>
<app-mid [action]="false"></app-mid>
