<p class="mat-headline">
  Occular Inspection Form
</p>

<mat-dialog-content style="overflow-y: auto; overflow-x: hidden;">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      <div *ngIf="!displayMode" fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="3px">
        <button type="submit" color="primary" mat-raised-button>Save </button>
        <button type="button" (click)="cancel()" color="accent" mat-raised-button>Cancel</button>
      </div>
    </formly-form>
  </form>
</mat-dialog-content>