<app-bdo-form-header [text]="title" [sub_text]="subTitle" [mode]="mode" [submit]="Submit"></app-bdo-form-header>
<app-request-header></app-request-header>

<!--
<app-approve-with-except-reason-details-list></app-approve-with-except-reason-details-list>
-->

<!--
<app-approve-with-req-reason-list></app-approve-with-req-reason-list> -->



<mat-tab-group>
  <mat-tab label="Verification Screen"><app-verification-screen></app-verification-screen></mat-tab>
  <mat-tab label="MAEF"><app-maef-form [displayMode]="false"></app-maef-form></mat-tab> 
  <mat-tab label="Documents"><app-document-checklist-maintenance-list></app-document-checklist-maintenance-list></mat-tab> 
</mat-tab-group>


