table {
    width: 100%;
    background-color: #fafafa;
}

.flex-branch-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mat-subheading-1 {
    font-size: 20px;
}

.mat-subheading-1 {
    color: #0d47a1;
}

.mat-headline {
    font-size: 18px;
}