table {
    width: 100%;
}


.assign-icon-color {
    background-color: #ff9800 
}

.ownrequest-icon-color {
    background-color: green
}

.item-edit:hover {
    color:  #0d47a1;
    cursor: pointer;
    text-decoration: underline !important;
}