<div class="remarks-container">

        <div class="contt" fxLayout="row" fxLayoutAlign="end center">
            <div class="con" style="width:20%">
              <div fxLayoutAlign="end center">
        <a (click)="getItem(element.Id)" style="margin-right:20px" mat-mini-fab color="primary">
          <mat-icon style="color:white;">edit</mat-icon>
        </a> 
      </div>
    </div>
  </div>
<br><br>
<mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field style="width:100%">
        <textarea matInput formControlName="remarks" placeholder="Remarks"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <div class="contt" fxLayout="row" fxLayoutAlign="end center">
    <div class="con" style="width:20%">
      <div fxLayoutAlign="start center">
        <button color="primary" mat-raised-button (click)="save()" style="margin-right:3px">Save</button>

        <button color="accent" mat-raised-button (click)="submit()">Cancel</button>
      </div>
    </div>
  </div>
  <!---->
  <div class="contt" fxLayout="row" fxLayoutAlign="end center" style="margin-top:10px">
    <div class="con" style="width:20%">
      <div fxLayoutAlign="start center">
        <button color="primary" mat-raised-button (click)="submit()">Return to AO</button>
      </div>
    </div>
  </div>
  <!---->
</div>