<div class="mat-subheading-1" style="margin: 0px;"><i class="material-icons icon-color align-middle">history</i> History</div>
<mat-list>
  <mat-list-item>
      <mat-icon mat-list-icon class="icon-color">error</mat-icon>
      <h4 mat-line>September 05, 2018 | Juan dela Cruz - &lt;REQUEST CREATED&gt;</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
      <mat-icon mat-list-icon class="icon-color">error</mat-icon>
      <h4 mat-line> September 06, 2018 | Juan dela Cruz - &lt;SUBMITTED FOR PRE-SCREEN&gt;</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
      <mat-icon mat-list-icon class="icon-color">error</mat-icon>
      <h4 mat-line> September 08, 2018 | Juan dela Cruz - &lt;SUBMITTED FOR APPROVAL&gt;</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon mat-list-icon class="icon-color">error</mat-icon>
        <h4 mat-line> September 09, 2018 | Jonas Navarro - &lt;DECLINED&gt; </h4>
        <h4 mat-line>Remarks: Incorrect Attachment</h4>
      </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>