<!-- <mat-card class="mat-card-screen">

    <mat-card-content>
        <app-bdo-form-header [text]="title" [sub_text]="subTitle" [mode]="mode"></app-bdo-form-header> 

       
    </mat-card-content>
</mat-card> -->

<!-- <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="3px">
    <button mat-button color="warn">
        <mat-icon >attachment</mat-icon>
        OIF
    </button>
    <button mat-button color="warn">
        <mat-icon>attachment</mat-icon>
        POS
    </button>
</div> -->


<span class="mat-headline">
  Branch Details
</span>
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">

  </formly-form>

</form>
<div fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="3px" *ngIf="!displayMode">

  <button (click)="executeFunction();" color="primary" mat-raised-button>{{subTitle}}</button>

  <a (click)="cancel()" color="accent" mat-raised-button>Cancel</a>
</div>

<div style="margin-top: 20px">
    <router-outlet name="mid"></router-outlet>
</div>

<ng-content></ng-content>
