<span class="mat-headline">
  Branch Details
</span>
<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">

  </formly-form>

</form>
<div fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="3px" *ngIf="!displayMode">
  <button (click)="submit()" color="primary" mat-raised-button *ngIf="!isSaved">Save</button>
  <button (click)="submit()" color="primary" mat-raised-button *ngIf="isSaved">Update</button>
  <button (click)="cancel()" type="button" color="accent" mat-raised-button>Cancel</button>
</div>

<div style="margin-top: 20px">
    <router-outlet name="mid"></router-outlet>
</div>

<ng-content></ng-content>
