.matStepLabel{

	color: orange !important;
}

.matStepLabel {
    color: red;
}

.mat-subheading-1 {
    color: #2196F3
}

.mat-display-1 {
    color: #0d47a1;
}

.mat-headline {
    font-size: 18px;
}