<app-bdo-form-header [text]="title" [sub_text]="subTitle" [mode]="mode"></app-bdo-form-header>
<app-request-header></app-request-header>
<!-- <span class="mat-headline">Please follow the steps:</span> -->
<mat-divider></mat-divider>
<div class="mat-title color-orange m-left-5px">Customer Profile</div>
<app-customer-profile [displayMode]="true"></app-customer-profile>
<mat-divider></mat-divider>
<mat-vertical-stepper [linear]="true" #stepper class="m-top-20px">
  <!-- <mat-step [completed]="false">
    <ng-template matStepLabel>
      <span class="mat-subheading-1">Customer Profile</span>
    </ng-template>
    <span class="mat-headline">Customer Profile</span>
    <app-customer-profile [displayMode]="false" readOnly="true"></app-customer-profile>

    <button style="margin-top:3px" mat-button color="primary" (click)="completed(stepper);">Next
      <mat-icon color="primary">navigate_next</mat-icon>
    </button>
  </mat-step> -->
  <mat-step [completed]="false">
    <ng-template matStepLabel>
      <span class="mat-subheading-1">POS</span>
    </ng-template>
    <app-pos-form [displayMode]="true"></app-pos-form>
    <div style="margin-bottom: 20px;">
      <app-pos-terminal-brand-list></app-pos-terminal-brand-list>
    </div>
    <app-mid [action]="midAction"></app-mid>
    <button style="margin-top:3px" mat-button color="primary" (click)="completed(stepper);">Next
      <mat-icon color="primary">navigate_next</mat-icon>
    </button>
  </mat-step>
  <!-- <mat-step [completed]="false">
    <ng-template matStepLabel>
      <span class="mat-subheading-1">POS Request for Branches</span>
    </ng-template>
    <router-outlet name="branchPOS"></router-outlet>
    <button style="margin-top:3px" mat-button color="primary" (click)="completed(stepper);">Next
      <mat-icon color="primary">navigate_next</mat-icon>
    </button>
  </mat-step> -->
  <mat-step [completed]="false" state="done">
    <ng-template matStepLabel>
      <span class="mat-subheading-1">Done!</span>
    </ng-template>
    <span class="mat-subheading-1">You are now done. Would you like to submit the Request?</span>
    <div xLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="3px">
      <button style="margin-top:3px" mat-stroked-button color="primary" (click)="Submit()">Yes</button>
      <a mat-stroked-button routerLink="/newAffSum" color="accent">No</a>
    </div>
  </mat-step>

  <!-- Stepper steps go here -->
  <!-- <mat-step label="step 1">step 1 content</mat-step>
    <mat-step label="step 2">step 2 content</mat-stngep>
    <mat-step label="step 3">step 3 content</mat-step> -->
</mat-vertical-stepper>