<app-bdo-form-header [text]="title" [sub_text]="subTitle" [mode]="mode" [submit]="Submit"></app-bdo-form-header>
<app-request-header></app-request-header>
<mat-tab-group>
    <mat-tab label="Verification Screen"><app-verification-screen></app-verification-screen></mat-tab> 
    <mat-tab label="MAEF"><app-maef-form [displayMode]="false"></app-maef-form></mat-tab> 
    <mat-tab label="Documents"><app-document-check-list ></app-document-check-list></mat-tab> 
   <!-- <mat-tab label="Documents"><app-document-check-list-form></app-document-check-list-form></mat-tab> -->
  </mat-tab-group>


