<span class="mat-headline">Branches</span>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Ortigas Branch
            </mat-panel-title>
            <mat-panel-description>
                DBA Name Ortigas
            </mat-panel-description>
        </mat-expansion-panel-header>
<app-branch-form></app-branch-form>
<mat-tab-group>
   <mat-tab label="OIF" *ngIf="showOif"> <app-ocular-inspection-form [displayMode]="true"></app-ocular-inspection-form> </mat-tab>
   <mat-tab label="POS" *ngIf="showPos"><app-pos-form [displayMode]="true"></app-pos-form></mat-tab>
   <mat-tab label="MID" *ngIf="showMid"><app-mid></app-mid></mat-tab>
</mat-tab-group>

    </mat-expansion-panel>

    <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Cubao Branch
                </mat-panel-title>
                <mat-panel-description>
                    DBA Name Cubao
                </mat-panel-description>
            </mat-expansion-panel-header>
<app-branch-form></app-branch-form>    
<mat-tab-group>
   <mat-tab *ngIf="showOif" label="OIF"> <app-ocular-inspection-form [displayMode]="true"></app-ocular-inspection-form> </mat-tab>
   <mat-tab *ngIf="showPos" label="POS"><app-pos-form [displayMode]="true"></app-pos-form></mat-tab>
   <mat-tab *ngIf="showMid" label="MID"><app-mid-form [displayMode]="true"></app-mid-form></mat-tab>
</mat-tab-group> 
    
        </mat-expansion-panel>

</mat-accordion>

