<!-- <app-bdo-form-header [text]="title" [sub_text]="subTitle" [mode]="mode"></app-bdo-form-header> -->
<div class="dashboard-container">
<!-- <app-ao-checker-dashboard></app-ao-checker-dashboard> -->
<!-- <span class="mat-display-3"><mat-icon color="warn">dashboard</mat-icon> Welcome to Merchant Acquiring System</span> -->
<!-- <app-ao-checker-dashboard></app-ao-checker-dashboard> 
 <app-mau-encoder-dashboard></app-mau-encoder-dashboard> -->
<app-ao-checker-dashboard></app-ao-checker-dashboard> 
<!-- <app-ao-encoder-dashboard></app-ao-encoder-dashboard>  -->
<!-- <app-approver-dashboard></app-approver-dashboard> -->
<!-- <app-mau-checker-dashboard></app-mau-checker-dashboard> -->
<!-- <app-mau-encoder-dashboard></app-mau-encoder-dashboard>   -->
<!-- <app-mau-officer-dashboard></app-mau-officer-dashboard> -->
<!-- <app-mdcs-encoder-dashboard></app-mdcs-encoder-dashboard> -->
<!-- <app-mdcs-checker-dashboard></app-mdcs-checker-dashboard> -->
<!-- <app-mdcs-user-dashboard></app-mdcs-user-dashboard>  -->
<!-- <app-mdm-user-dashboard></app-mdm-user-dashboard>-->
<!-- <app-ps-servicing-dashboard></app-ps-servicing-dashboard>  -->
<!-- <app-mqr-dashboard></app-mqr-dashboard> -->

<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile color="primary">
        <mat-card>Simple card1</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>
        <mat-card color="accent">Simple card1</mat-card>
    </mat-grid-tile>

</mat-grid-list> -->

</div>