.mat-menu-item{
	color: #0d47a1;
	font-size: 13px;
}

.example-container {
  width: 100%;
  height: 100%;
  margin: 10px;

  /* border: 1px solid #555; */
}
.mat-toolbar-row{
	padding-top: 15px;
}
.mat-icon{

	color: white;
}
.mat-headline{
	color: #0d47a1;
}
/* .mat-toolbar-main  {
   position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  
} */
 
/* .sidenav-container {
  width: 100%;
  height: 100%;
  margin: 10px;
  border: 1px solid #555; 
} */
html, body{

 height: 100%;
}
