<div class="flex-branch-list-header">
  <span class="mat-headline">Document Checklist</span>
</div>

<mat-dialog-content style="overflow-y: auto; overflow-x: hidden;">
  <div style="padding: 0px 10px">
    <form (ngSubmit)="submit()" [formGroup]="documentForm" class="docs-form-container">
      <mat-form-field>
        <mat-select placeholder="Document Name" formControlName="documentName">
          <mat-option *ngFor="let docs of documentList" [value]="docs.id">
            {{ docs.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Remarks" formControlName="remarks">
      </mat-form-field>
      <div style="display: flex">
        <div class="flex-1">
          <div style="display: flex">
            <mat-checkbox class="flex-1 mat-form-field-infix" formControlName="submitted"> Submitted</mat-checkbox>
            <mat-form-field class="flex-1">
              <input matInput [matDatepicker]="picker" placeholder="Target Date of Submission" formControlName="targetDateOfSubmission">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="flex-2">
          <div class="mat-form-field-wrapper">
            <div class="mat-form-field-infix">
              <input id="fileToUpload" type="file" (change)=changeListener($event)>
            </div>
          </div>
        </div>
        <div class="flex-2">
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="3px">
        <button type="submit" color="primary" mat-raised-button [disabled]="documentForm.invalid">Save </button>
        <button type="button" color="accent" (click)="cancel()" mat-raised-button>Cancel</button>
      </div>
    </form>
  </div>
</mat-dialog-content>