.sidenav-container {
  height: 100%;
 min-height: 671px;
}

.sidenav {
  width: 400px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

/* @media (min-width: 900px) {
	.sidenav {
		display: none;
	}
} */
.mat-toolbar.mat-primary{
  /*position: sticky;*/
}

 .mat-toolbar  {
   /*position: fixed;*/
  top: 0;
  left: 0;
  z-index: 2;
  
}
/* .card-container {
  max-width: 400px;
  margin: 2px;
}
 */
.mat-headline{
	margin-left: 7px;
	margin-top: 7px;
}
