<app-bdo-form-header [text]="title" [sub_text]="subTitle" [mode]="mode" [submit]="Submit"></app-bdo-form-header>
<app-request-header></app-request-header>
<div style="margin: 0px 10px">
    <app-customer-profile [displayMode]="false" [userGroup]="userGroup"></app-customer-profile>
</div>
<div style="margin: 0px 10px">
    <router-outlet name="mdcsDetails"></router-outlet>
</div>

<!-- <mat-tab-group>
    <mat-tab label="Branch"> -->
<!-- <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        DBA Name: DBA Name Sample
                    </mat-panel-title>
                    <mat-panel-description>
                        DBA Address: DBA Address Sample
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <router-outlet name="pos"></router-outlet>
                <mat-tab-group>
                    <mat-tab label="POS">
                        <div style="overflow: hidden">
                            <app-pos-form [displayMode]="true"></app-pos-form>
                        </div>
                    </mat-tab>
                    <mat-tab label="MID">
                        <app-mid [update]="false" [action]="false"></app-mid>
                    </mat-tab>
                </mat-tab-group>
            </mat-expansion-panel>
        </mat-accordion> -->
<!-- </mat-tab>
</mat-tab-group> -->